* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body {
	height: 100vh;
	background-color: hsl(0, 0%, 95%);
}

.card {
	position: absolute;
	display: grid;
	grid-template-columns: 350px 350px 350px;
	width: 1050px;
	height: 600px;
	background-color: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	overflow: hidden;
}

.column {
	padding: 69px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.first-card {
	background-color: hsl(31, 77%, 52%);
}

.second-card {
	background-color: hsl(184, 100%, 22%);
}
.third-card {
	background-color: hsl(179, 100%, 13%);
}

img {
	width: 80px;
}

.first-head,
.second-head,
.third-head {
	font-size: 42px;
	text-transform: uppercase;
	font-family: 'Big Shoulders Display', cursive;
	font-weight: 700;
	color: hsl(0, 0%, 95%);
	padding: 35px 0;
}

.first-text,
.second-text,
.third-text {
	font-size: 15px;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 400;
	line-height: 27px;
}

.first-card_button,
.second-card_button,
.third-card_button {
	position: absolute;
	width: 170px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: hsl(31, 77%, 52%);
	font-size: 17px;
	font-family: 'Lexend Deca', sans-serif;
	cursor: pointer;
	bottom: 69px;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.first-card_button:hover,
.second-card_button:hover,
.third-card_button:hover {
	background-color: transparent;
	color: hsla(0, 0%, 100%, 0.75);
	border: 3px solid hsla(0, 0%, 100%, 0.75);
}

.second-card_button {
	color: hsl(184, 100%, 22%);
}
.third-card_button {
	color: hsl(179, 100%, 13%);
}

.attribution {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0;
}

@media (max-width: 375px) {
	.card {
		display: flex;
		flex-direction: column;
		height: 1050px;
		width: 320px;
	}

	.column {
		height: 350px;
		padding: 30px;
	}

	img {
		width: 50px;
	}

	.attribution {
		display: none;
	}

	.first-head,
	.second-head,
	.third-head {
		padding: 5px 0;
	}

    .third-card_button {
        padding: 0;
        bottom: 30px;
    }
    .second-card_button {
        padding: 0;
        bottom: 380px;;
    }
    .first-card_button {
        padding: 0;
        bottom: 730px;
    }
}
